body{
  background-image: url("flag.JPG"), url("marble.JPG");
  background-repeat: no-repeat, repeat;
  background-position: 100% 12.5%, left;
}
  
nav#navbar ul {
    list-style-type: none;
    margin: -10px -10px ;
    padding: 20px 14px;
    overflow: hidden;
    background-color: #333; 
    font-size: 2em;
}

nav#navbar ul li {
	float: left;
}

nav#navbar ul li a {
	  display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

nav#navbar ul li a:hover {
	  background-color: #ff6347;
}

h3 {
    font-family: 'Lobster', cursive;
	  color: #B22222;
    margin: 0
}
    
h2 {
    font-family: 'Lobster', cursive;
    color: blue;
    top: 4px;
}

h1 {
    font-family: 'Nosifer', cursive;  
    color: black;
} 
 
#wlc {
			width: 450px;
			height: 245px;
			margin: 0;
			float: left;
      font-weight: bold;
      padding: 14px 16px;
      line-height: 1.5;
      font-size: 1.75em;
		}
#middle {
			width: 500px;
			height: 500px;
			margin: 0;
			float: none;
      margin: 0px 600px 100px;
      font-weight: bold;
      padding: 14px 16px;
      line-height: 1.5;
      font-size: 1.75em;
}
#emailaddress {
  margin-top: 20%;
  font-weight: bold;
  font-size: 1.2em;
  color: #B22222;
}