  body {
    background-image: url("marble.JPG"), url("pc.JPG");
    background-repeat: repeat, no-repeat;
    background-position: left, 100% 15%;
  }
  
  nav#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  nav#navbar ul li {
    float: left;
    margin: 0 15px;
  }

  nav#navbar ul li a {
    display: block;
    background-color: red;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 100px;
    padding: 10px 0px 8px 0px;
    border-radius: 20px;
  }

  nav#navbar ul li a:hover {
    background-color: #245;
  }

  h1 , h2 {
    font-family: 'Nosifer', cursive;
  }

  h3 {
    color: #B22222;
  }
 #sec {
  color: #B22222;
  }

 #box {
  width: 450px;
			height: 200px;
			margin-top: -160px;
			float: right;
      font-weight: bold;
      padding: 0px 20px;
      line-height: 1.5;
      font-size: 1.3em;
 }