body{
  background-image: url("../media/marble.jpg");
  background-repeat: repeat;
  background-position: left;
}
 
#flag {
  float: right;
  margin: 15px;
  padding: 5px;
}

#content-wrapper {
	background-color: #aaa;
}

#navbar-container {
	text-align: center;
}

#main-navbar {
	overflow: hidden;
}

#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

#main-navbar ul li {
	float: left;
}

#main-navbar ul li a {
	display: block;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
  background-color: red;
}

#main-navbar ul li a:hover {
  background-color: #245;
}

h3 {
    font-family: 'Lobster', cursive;
	  color: #B22222;
    margin: 0;
}
    
h2 {
    font-family: 'Lobster', cursive;
    color: blue;
    top: 4px;
}

h1 {
    font-family: 'Nosifer', cursive;  
    color: black;
} 
 
#wlc {
			width: 450px;
			height: 245px;
			margin: 0;
			float: left;
      font-weight: bold;
      padding: 14px 16px;
      line-height: 1.5;
      font-size: 1.75em;
		}
#middle {
			width: 500px;
			height: 500px;
			margin: 0;
			float: none;
      margin: 0px 600px 100px;
      font-weight: bold;
      padding: 14px 16px;
      line-height: 1.5;
      font-size: 1.75em;
}

#emailaddress {
  margin-top: 20%;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  background-color: grey;
}

/**
RESUME PAGE CSS
**/
body {
    background-image: url("../media/marble.jpg");
    background-repeat: repeat;;
    background-position: left;
  }
  
#content-wrapper {
	background-color: #aaa;
}

#navbar-container {
	text-align: center;
}

#main-navbar {
	overflow: hidden;
}

#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

#main-navbar ul li {
	float: left;
}

#main-navbar ul li a {
	display: block;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
  background-color: red;
}

#main-navbar ul li a:hover {
  background-color: #245;
}

  h1 , h2 {
    font-family: 'Nosifer', cursive;
  }

  h3 {
    color: #B22222;
  }
 #sec {
  color: #B22222;
  }

 #box {
  width: 450px;
			height: 200px;
			margin-top: -160px;
			float: right;
      font-weight: bold;
      padding: 0px 20px;
      line-height: 1.5;
      font-size: 1.3em;
 }
 /**
 Hobbies
 **/
 #vid {
  float: right;
}

#pic {
  float: right;
  position: fixed;
}

h1 {
  font-family: 'Nosifer', cursive;
}

h2 {
  color: #B22222;
}